
.Catname{
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
    font-weight: bold;
    font-family: sans-serif;

}
  
  
  
  
  
.instructions{
    font-family: Arial;
    font-weight: bold;
    font-size: medium;
    margin-left:50px;
    margin-right:50px;
    height:max-content;
}