body{
    margin:0;
}
.button-container{
    display:flex;
    flex:1;
    justify-content: center;
    align-items: center;  
}

.space{
    height:70px;
}

.genre{
    display: grid;
    grid-template-columns: 500px 1fr 50px;
}
