body{
    margin:0;
    background-color: rgb(20, 31, 31);
}

.betting-container,
.food-container,
.transport-container {
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
}

.betting-container:hover ~ .hidden-betting,
.food-container:hover ~ .hidden-food,
.transport-container:hover ~ .hidden-transport{
    display: block;
    grid-column: 1/4;
    font-size: 30px;
    font-weight: bold;
    color: white;
}



